* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.App {
	margin-bottom: 10px;	
}

.Navbar {
	margin-left: 10px;
	margin-bottom: 250px;
}

h1{
	color: white;
}

.tinyP{
	color: white;
}

.NavBarMain2 {
	margin-left: 5px;
}

.Jumbotron {
	min-height: 800px;
	background-image:url('./images/reesebg.gif');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 10% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
.welcome{
	padding-top: 360px;
	display: flex;
	justify-content: center;
}
.button{
	display: flex;
	justify-content: center;
}
.button1{
	border-radius: 90px;
	padding: 10px;
	background-color: #FF625E;
	text-decoration: none;
	margin: 5px;
}
.AboutContainer{
	text-align: center;
	padding-top: 20px;
	margin-bottom: 50px;
	padding-bottom: 50px;
	background-color: #F5EEA5;
}

.description{
	padding-top: 50px;
	padding-bottom: 30px;
}

.AlbumContainer1{
	background-color: #FF9288;
	padding:30px;
	margin-bottom: 50px;
	border-radius: 70px;
}

.AlbumContainer2 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
	background-color: #F5EEA5;
	border-radius: 90px;
}

.carouselIMG{
	border-radius: 90px;
}

.spotify {
	padding-top: 20px;
	border-radius: 10px;
}

.Footer {
	margin-left: 10px;
	margin-bottom: 20px;
	text-align: center;
}

/* Tablet:768px. */
@media (min-width: 768px) and (max-width: 1024px) {
	.carouselIMG {
		height: 280px;
		width: 280px;
		border-radius: 40px;
	}
		.AlbumContainer2{
		padding: 0;
		margin: 0;
		border-radius: 10px;
	}
	.AlbumContainer1{
		padding: 1;
		margin: 0;
	}
		.spotify {
		height: 280px;
		width: 280px;
	}
}

/* Mobile :320px. */
@media (max-width: 767px) {
  .carouselIMG {
		height: 280px;
		width: 280px;
		border-radius: 10px;
	}
	.spotify {
		height: 280px;
		width: 280px;
	}
	.AlbumContainer2{
		padding: 0;
		margin: 0;
		border-radius: 10px;
	}
	.AlbumContainer1{
		padding: 0;
		margin: 0;
	}
	.Footer{
		padding: 5px;
		margin: 5px;
	}
}

